.root {
    -fx-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.window-defaults {
    -fx-background-color: white;
}

.login-form-header {
    -fx-background-color: linear-gradient(to bottom, #212529, #000000);
    -fx-padding: 16px;
}

.form-label {
    -fx-font-weight: 700;
    -fx-font-size: 16px;
}

.text-field {
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 6px 12px 6px 12px;
    -fx-font-size: 16px;
    -fx-indent: 0;
    -fx-text-fill: rgb(33, 37, 41);
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
}

.text-field:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.text-field:focused.invalid,
.text-field.invalid {
    -fx-border-color: #dc3545 !important;
}

.btn-primary {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-weight: 700;
    -fx-font-size: 16px;
    -fx-background-color: #212529;
    -fx-border-width: 0;
    -fx-border-radius: 800px;
    -fx-background-radius: 800px;
}

.btn-primary:disabled {
    -fx-opacity: 0.65;
}

.btn-secondary {
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-font-weight: 700;
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 800px;
    -fx-border-color: black;
    -fx-background-radius: 800px;
    -fx-graphic-text-gap: 8px;
    -fx-graphic-size: 14px;
}

.btn-secondary:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.label-required {
    -fx-text-fill: #dc3545;
    -fx-font-weight: 400;
    -fx-font-size: 14px;
}

.tab-header-area .tab-header-background {
    -fx-background-color: white;
}

.tab-header-area {
    -fx-padding: 8px;
    -fx-spacing: 8px;
}

.tab {
    -fx-padding: 8px 16px;
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-valignment: center;
    -fx-background-radius: 800px;
    -fx-border-radius: 800px;
}

.tab .tab-label {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-graphic-text-gap: 8px;
    -fx-graphic-size: 14px;
}

.tab:selected {
    -fx-background-color: black;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab#productsTab .tab-label {
    -fx-graphic: url("images/products-icon-dark.png");
}

.tab#productsTab:selected .tab-label {
    -fx-graphic: url("images/products-icon-light.png");
}

.tab#ordersTab .tab-label {
    -fx-graphic: url("images/orders-icon-dark.png");
}

.tab#ordersTab:selected .tab-label {
    -fx-graphic: url("images/orders-icon-light.png");
}

.tab#usersTab .tab-label {
    -fx-graphic: url("images/users-icon-dark.png");
}

.tab#usersTab:selected .tab-label {
    -fx-graphic: url("images/users-icon-light.png");
}

.tab#infoTab .tab-label {
    -fx-graphic: url("images/info-icon-dark.png");
}

.tab#infoTab:selected .tab-label {
    -fx-graphic: url("images/info-icon-light.png");
}

.content-wrapper {
    -fx-padding: 8px 16px 16px 16px;
}

.label, .hyperlink {
    -fx-font-size: 14px;
}

.label {
    fx-text-fill: #212529bf;
}

.hyperlink {
    -fx-padding: 0;
    -fx-text-fill: #2473ff;
}

.label.heading {
    -fx-font-size: 26px;
    -fx-text-fill: black;
    -fx-font-weight: 700;
}

.login-form-header-text {
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-weight: 100;
}

.table-view {
    -fx-spacing: 8px;
}

.table-view,
.table-view:selected,
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.table-view .column-header .label {
    -fx-alignment: center_left;
    -fx-font-size: 18px;
    -fx-padding: 0 0 8px 0;
}

.table-row-cell,
.table-row-cell:odd {
    -fx-background-color: white;
}

.table-row-cell {
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

.table-row-cell:selected {
    -fx-background-color: #f4f4f4;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: black;
}

.table-view .table-cell {
    -fx-border-color: lightgrey;
    -fx-border-width: 0;
    -fx-font-size: 16px;
    -fx-padding: 16px;
}

.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb,
.table-view > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-background-color: #b1b1b1;
    -fx-background-insets: 0;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.action-bar {
    -fx-border-width: 1px;
    -fx-border-color: #f4f4f4;
    -fx-border-radius: 10px;
}

.action-bar .actions {
    -fx-padding: 8px;
}

.action-bar .separator {
    -fx-padding: 0;
}

.action-bar .separator .line {
    -fx-border-color: #f4f4f4;
    -fx-shadow-highlight-color: transparent;
    -fx-border-width: 0.5px;
}

.btn-secondary.delete-icon {
    -fx-graphic: url("images/delete-icon-dark.png");
}

.btn-primary.delete-icon,
.btn-secondary:hover.delete-icon {
    -fx-graphic: url("images/delete-icon-light.png");
}

.btn-secondary.create-icon {
    -fx-graphic: url("images/create-icon-dark.png");
}

.btn-primary.create-icon,
.btn-secondary:hover.create-icon {
    -fx-graphic: url("images/create-icon-light.png");
}

.btn-secondary.edit-icon {
    -fx-graphic: url("images/edit-icon-dark.png");
}

.btn-primary.edit-icon,
.btn-secondary:hover.edit-icon {
    -fx-graphic: url("images/edit-icon-light.png");
}

.btn-secondary.reload-icon {
    -fx-graphic: url("images/reload-icon-dark.png");
}

.btn-primary.reload-icon,
.btn-secondary:hover.reload-icon {
    -fx-graphic: url("images/reload-icon-light.png");
}